*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden !important;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
:root{
    /* Colors */
    --primaryColor:#3959d7;
    --primaryColorLight: hsl(223,100%,97%);
    --primaryColorDark: hsl(216,58%,28%);
    --gradientLight:rgb(114,145,255);
    --bgColor:hsl(0 ,0%,100%);
    --formColor:hsl(20 ,42%,87%);
    --whiteColor:#f5f5f9;
    --blackColor:hsl(0,0%,18%);
    --blackColorLight:hsl(223,3%,51%);
    --shadowColor:hsl(219,63%,95%);
    --inputColor:hsl(330,12%,97%);
    --cardColor:hsl(300,3%,94%);
    --orangColor:hsl(25,84%,53%);
    --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
    --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
        /* linear-gradient(40deg,rgb(114,145,255),rgb(42,73,198)); */

    /* FontSize */
    --biggestFontSize:2.5rem;
    --h1FontSize:1.6rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:0.938rem;
    --smallFontSize:0.813;
    --smallestFontSize:0.75rem;
    --borderRadius:10px;
}

.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}
.flexCenter{
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body{
    overflow-x: hidden;
}

p{
    font-size: var(--normalFontSize);
    color:var(--primaryColorDark) ;
    opacity: 7;
    font-weight: 400;
    line-height: 25px;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

.icons{
    gap: 0.5rem;
    .icon{
        height: 35px;
        width: 35px;
        background-color: var(--primaryColorLight);
        border-radius: 3px;
        padding: 2px;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid var(--shadowColor);
        }
    }
}

.title{
    color: var(--primaryColorDark);
    padding: 0.5rem 0 1rem;
}

.orangeText{
    color: var(--orangColor);
    text-transform: capitalize;
    font-weight: 500;
}


.orangeDot{
    color: var(--orangColor);
    font-size: var(--h1FontSize);
}
img{
    height: auto;
    width: 100%;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px !important;
    color: var(--whiteColor) !important;
    padding:.8rem 1.2rem  !important;
    font-weight: 500;
    background: linear-gradient(40deg,rgb(114,145,255),rgb(42,73,198)) !important;&:hover
    {
        transition: 0.3s ease-in-out ;
        background: var(--primaryColor)  !important;
        color: var(--whiteColor) !important;
    }
}

.sectionTitle{
    display:grid;
    text-align: center;
    padding: 1rem 0;
    font-size: var(--h3FontSize);
    font-weight: 700;
    color: var(--primaryColorDark);
    flex-direction: column;
    width: 100%;
    
    h3{
        font-size: var(--h1FontSize);

    }
}

.secHeader{
    padding-bottom: 1.5rem ;
}

.section{
    padding:  4rem  0 2rem ;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

::selection{
    background: var(--primaryColor);
    color: var(--whiteColor);
}

::-webkit-scrollbar{
    width: 10px;
    background: var(--primaryColorLight);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background: var(--primaryColor);
    border-radius: var(--borderRadius);
}
@media (min-width:840px) {
    .section{
        padding: 4rem 0 3rem;
    }
    .container{
        width: 75%;
        margin: auto;
    }
}