.banner{
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner .subs{
    gap: 1.5rem;
    background: #4161df;
    padding: 30px;
    border-radius: 10px;
    border: 6px solid #5d77d6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.banner .subs button{
    background: #5a73d7 !important;
    border: 2px solid white !important;
    box-shadow: var(--shadow);
    border-radius: 10px !important;
    font-weight: 500;
    padding: 0.6rem 1.4rem !important;
    color: #fff;
    width: fit-content;
}

.banner .subs h2{
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner .subs span{
    color: #ffffff96;
    font-size: 0.9rem;
    margin-top: -15px;
}

